useDynLib("dbscan")

import("Rcpp")

importFrom("graphics", "plot", "par", "segments", "lines")
importFrom("grDevices", "palette", "chull")

importFrom("stats", "dist")

importFrom("methods", "is")

export(
  kNN,
  kNNdistplot,
  kNNdist,
  frNN,
  dbscan,
  optics,
  optics_cut,
  opticsXi,
  lof,
  hullplot, 
  as.reachability
)

S3method(print, optics)
S3method(plot, optics)
S3method(predict, optics)
S3method(as.dendrogram, optics)
S3method(as.reachability, dendrogram)

S3method(print, dbscan_fast)
S3method(predict, dbscan_fast)
